*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster Two', cursive;;
}

.vh-100{
    width: 100%;
    height: 100vh;

    /* border: 2px solid green; */
}

.vh-10{
    width: 100%;
    height: 10vh;
    background-color: #1f2937;
    /* border: 2px solid green; */
}

.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-col{
    display: flex;
    flex-direction: column;
}

/* header page starts */
.header{
    background-color: #1f2937;
    padding: 0px 20px;
}
.navbar{
    align-items: center;
    /* padding: 0px 20px 0px 100px;
    gap: 60%; */
    justify-content: space-around;
    border-bottom: 1px solid #807e7e;
}
.logo{
    color: #f9faf8;
    font-size: 24px;
}
.links{
    gap: 28px;
    list-style-type: none;
    font-size: 18px;
}

.anchor{
    padding: 10px;
    color:#e5e7eb;
    text-decoration: none;
}
.head-content{
    padding: 100px 200px 150px;
    height: 90vh;
}

.text{
    padding: 45px 15px;
    flex: 1;
    font-size: 48px;
    font-weight: bold;
    color:#f9faf8;
}

span{
    display: block;
}
.text p{
    margin-bottom: 15px;
}
.sub-text{
    font-size: 18px;
    font-weight: 100;
}
.btn{
    display: flex;
}
button{
    background-color: #3882f6;
    border: 0;
    padding: 7px 25px;
    border-radius: 7px;
    font-size: 15px;
    color: #e5e7eb;
    cursor: pointer;
}

button:hover{
    background-color: #5490f1;
    border: 0;
    padding: 7px 25px;
    border-radius: 7px;
    font-size: 15px;
    color: #e5e7eb;
    cursor: pointer;
}
.header .head-img{
    padding: 30px 10px 30px 10px;
    flex: 1;
}

.head-img .sample-img{
    /* border: 2px solid green; */
    height: 100%;
    background-color: rgba(0, 0, 0, 0.325);
    color: #e5e7eb;
    align-items: center;
    justify-content: center;
}
/* header page ends */
.info{

}

.quote{
    background-color: #e5e7eb;

}

.signup{
    width: 100%;
    height: 90vh;

    /* border: 2px solid green; */
}

/* Footer Starts */
.footer{
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
    font-size: large;
}

#credit{
    display: inline-block;
    font-size: larger;
}
/* Footer Ends */